* {
  font-family: "Poppins", sans-serif;
}
.font-urbanist {
  font-family: "Urbanist", sans-serif;
}
.font-bangla {
  font-family: "Hind Siliguri", sans-serif;
}
.active {
  background-color: #422ad5;
  color: white;
}
